<div class="container">
  <footer class="footer">
    <small>Copyright &copy; by <a href="https://www.gregoryanderson.tech">Gregory Anderson</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "Articles", articles_path %></li>
      </ul>
    </nav>
  </footer>
</div>
